<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <h2>Forgot Password</h2>
        <form>
            <div class="forgot-password-form">
                <label>Email: </label>
                <input id="check-email" placeholder="Enter your registered email" required>
            </div>
            <button id="submit">Forgot Password</button>
        </form>
    </div>

    <script></script>
</body>
</html>